

META.Desafio/bin
META.Desafio/obj

META.Desafio.API/bin
META.Desafio.API/obj

META.Desafio.CrossCutting/bin
META.Desafio.CrossCutting/obj

META.Desafio.Dominio/bin
META.Desafio.Dominio/obj

META.Desafio.Servico/bin
META.Desafio.Servico/obj

META.Desafio.Teste/bin
META.Desafio.Teste/obj


